h1 {
  font-family: arial;
  text-align: center;
  margin-top: 50px;
}

p {
  font-family: courier;
  text-align: center;
}

.container {
  height: 450px;
  width: 1000px;
  margin: auto;
}

.exBar {
  fill: #99eeee;
}  

.imBar {
  fill: #ffdddd;
}  

.exGoodsBar {
  fill: #66bbbb;
}  

.imGoodsBar {
  fill: #ffaaaa;
}  

.exBar:hover, .imBar:hover, .exGoodsBar:hover, .imGoodsBar:hover {
  fill: #ffffaa;
}

#tooltip {
  position: absolute;
  opacity: 0;
  padding: 10px;
  border-radius: 15px;
}